<wicket:panel>
	<div class="watch-status py-3">
		<a wicket:id="default" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">观看是否涉及（默认）</div>
				<div class="text-muted font-size-sm mt-1">一旦我参与就开始观看</div>
			</div>
		</a>
		<a wicket:id="watch" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">观看</div>
				<div class="text-muted font-size-sm mt-1">您将收到任何活动的通知</div>
			</div>
		</a>
		<a wicket:id="doNotWatch" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold">不要看</div>
				<div class="text-muted font-size-sm mt-1">忽略与我无关的活动</div>
			</div>
		</a>
	</div>
</wicket:panel>
