<wicket:panel>
	<form wicket:id="form" class="save-request-query">
		<div class="modal-header">
			<h5 id="modal-title" class="modal-title">保存查询</h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="saveForMine" type="submit" class="dirty-aware btn btn-primary" value="另存为我的">
			<button wicket:id="save" class="dirty-aware btn btn-primary">保存</button>
			<a wicket:id="cancel" class="btn btn-secondary">取消</a>
		</div>
	</form>	
</wicket:panel>